nav {
    width: 100vw;
    height: 3rem;
    background-color: steelblue;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

li {
    list-style-type: none;
    width: 5em;
    height: inherit;
}
